.medium_post_container {
   padding: 15px;
   margin: 5px;
   background-color: var(--light-yellow);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-decoration: none;
   opacity: 1.0;
   transition: .2s;
}

.medium_post_container:hover {
   background-color: var(--lightened-darkpurple);
   transition: .2s;
}

.medium_post_title {
   color: var(--offwhite);
   /* color: white; */
   margin: 5px;
   text-align: left;
}

.medium_post_details {
   /* display: flex;
   justify-content: space-around; */
   color: rgba(255, 255, 255, .8);
   color: var(--lightblueish);
   font-size: 12px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   max-width: 350px;
}