#content_container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-left: var(--main-content-left-padding);
   padding-top: 20px;
}

#content_container header {
   display: flex;
   justify-content: flex-start;
   padding-left: 50px;
}

#content_main {
   padding: 0px;
   min-height: 100vh;
   color: white;
   width: 100%;
   text-align: center;
}

#loading_panel {
   height: 100%;
   color: var(--green);
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#no_posts {
   height: 200px;
}

#no_posts p {
   margin: 0px;
}

#no_posts span {
   font-size: 20px;
}